<header>
    <div class="container-grid cabecalho"> <!--GRID-->
        <a href="index.html"><img class="logo" src="assets/img/Game-Mania.svg" alt="Logo do site Game Mania"></a>
    <nav id="menu" class="menu">
      <div class="dropdown">
        <button onclick="myFunction()" class="dropbtn"><a class="dropbtn">todos os produtos</a></button>
        <div id="myDropdown" class="dropdown-content">
          <a href="#">Smarphone</a>
          <a href="#">pc gamer</a>
          <a href="#">video game</a>
          <a href="#">headset</a>
        </div>
      </div>
      <button class="dropbtn"><a href="#">video games</a></button>
      <button class="dropbtn"><a href="#">pc gamers</a></button>
      <button class="dropbtn"><a>lançamentos</a></button>
      <button class="dropbtn"><a routerLink="/login"><img class="icone-menu" src="assets/img/usuario.svg" alt="...">    login</a></button>
    </nav>
    
    </div> <!--GRID-->
</header>