<main>
    <section class="banner">
        <div class="container-grid">  
        <div class="conteudo-banner">
                <h1>Game Mania</h1>
                <p>Os melhores preços em produtos Gamers, voçê só encontra aqui.</p>
            </div>
        </div>
    </section>
    <section class="jogos">
        <div class="container-grid posicao-jogos">
            <img src="assets/img/cs-logo.png" alt="image1">
            <img src="assets/img/fifa.png" alt="image2">
            <img src="assets/img/lol-logo.png" alt="image3">
            <img src="assets/img/valorant.png" alt="image4">
        </div>
    </section>

<section class="produtos-full">
    <section class="produtos container-grid">
        <h1>video games</h1>
        <div class="card" style="width: 18rem;">
            <img src="assets/img/playstation_5.png" class="card-img-top" alt="...">
            <div class="card-body">
              <h5 class="card-title">PS5</h5>
              <p class="card-text">R$:5000,00</p>
              <a href="#" class="btn btn-primary">Comprar</a>
            </div>
          </div>
          <div class="card" style="width: 18rem;">
            <img src="assets/img/playstation_5.png" class="card-img-top" alt="...">
            <div class="card-body">
              <h5 class="card-title">PS5</h5>
              <p class="card-text">R$:5000,00</p>
              <a href="#" class="btn btn-primary">Comprar</a>
            </div>
          </div>
          <div class="card" style="width: 18rem;">
            <img src="assets/img/playstation_5.png" class="card-img-top" alt="...">
            <div class="card-body">
              <h5 class="card-title">PS5</h5>
              <p class="card-text">R$:5000,00</p>
              <a href="#" class="btn btn-primary">Comprar</a>
            </div>
          </div>
    </section>
</section>

<section class="produtos-full">
<section class="produtos container-grid">
    <h1>pc gamer</h1>
    <div class="card" style="width: 18rem;">
        <img src="assets/img/playstation_5.png" class="card-img-top" alt="...">
        <div class="card-body">
          <h5 class="card-title">PS5</h5>
          <p class="card-text">R$:5000,00</p>
          <a href="#" class="btn btn-primary">Comprar</a>
        </div>
      </div>
      <div class="card" style="width: 18rem;">
        <img src="assets/img/playstation_5.png" class="card-img-top" alt="...">
        <div class="card-body">
          <h5 class="card-title">PS5</h5>
          <p class="card-text">R$:5000,00</p>
          <a href="#" class="btn btn-primary">Comprar</a>
        </div>
      </div>
      <div class="card" style="width: 18rem;">
        <img src="assets/img/playstation_5.png" class="card-img-top" alt="...">
        <div class="card-body">
          <h5 class="card-title">PS5</h5>
          <p class="card-text">R$:5000,00</p>
          <a href="#" class="btn btn-primary">Comprar</a>
        </div>
      </div>
</section>
</section>
</main>